{{ if ne .chezmoi.os "windows" -}}
#!/bin/sh
# tmux.conf hash: {{ include "dot_tmux.conf" | sha256sum }}

printf '\nInstalling tmux plugins\n'
sh -c "~/.tmux/plugins/tpm/bin/install_plugins"

# Always reload the tmux config when the config file changes
tmux source-file ~/.tmux.conf
{{ end -}}
