{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash -x

PACKAGES=(
    atuin
    awscli
    bat
    chezmoi
    eza
    fd
    fpp
    git
    go
    helm
    hyperfine
    jless
    jq
    kubernetes-cli
    neovim
    pyenv
    starship
    tmux
    xsv
    zoxide
)
TAPS=(
    homebrew/cask-fonts
)

CASKS=(
    1password
    1password-cli
    alacritty
    bruno
    docker
    font-fira-code
    logi-options-plus
    rectangle
    stats
    visual-studio-code
    zoom
)

# If Homebrew is not installed on the system, it will be installed here
if test ! $(which brew); then
   printf '\n\n\e[33mHomebrew not found. \e[0mInstalling Homebrew...'
   /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
   # Enable brew for the rest of this script
   eval "$(/opt/homebrew/bin/brew shellenv)"
else
  printf '\n\n\e[0mHomebrew found. Continuing...'
fi

# Update homebrew packages
printf '\nInitiating Homebrew update...\n'
brew update

printf '\nInstalling packages...\n'
brew install ${PACKAGES[@]}

printf '\n\nRemoving out of date packages...\n'
brew cleanup


printf '\n\nInstalling cask...\n'
brew install cask

printf '\n\nTapping Casks...\n'
brew tap ${TAPS[@]}

printf '\n\nInstalling cask apps...\n'
brew install --cask ${CASKS[@]}

{{ end -}}
