[user]
    name = Ben Beauregard
    email = {{ .email | quote }}
    signingkey = {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub

[core]
    editor = vi
    pager = less -X -F

[push]
    default = current

[gpg]
    format = ssh

[commit]
    gpgsign = true

[tag]
    gpgsign = true

[alias]
    # Get the current branch name (not so useful in itself, but used in
    # other aliases)
    branch-name = "!git rev-parse --abbrev-ref HEAD"

    update = "!git pull origin $(git branch-name)"
    fpush  = "push --force"
    amend = "!git commit --amend --no-edit --date=now"

    unapply = "!git stash show -p stash@{0} | git apply -R"
    cdiff = "git diff --cached"
    scommit = "commit -s"
